body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    font-size: 20px;
}
.Flogin{
    float: right;
    margin-right: 25%;
    margin-top: 250px;
    width: 50%;
    height: 200px;    
    background: #789c7b;
    text-align: center;
    /* opacity: 0.7; */
}
.Flinha{
    width: 100%;
    margin-left: 1%;
    margin-top: 1%;
}
.Finput{
    display: block;
    width: 50%;
    height: 28px;
    margin-left: 25%;
}
.Fbtn{
    float: right;
    margin-right: 24.1%;
    width: 25%;
    height: 30px;
    font-size: 20px;
    border: none;
    background: #4c915d;
}
.Fshadow{
    box-shadow: 0 0 3px #2d8844;
}
.Mlateral{
    display: flex;
    background: #4c915d;
    width: 10%;
    height: 100vh;
}
.Mlateral-min{
    display: flex;
    background: #4c915d;
    width: 5%;
    height: 100vh;
}
.Mlinha{
    display: flex;
    margin-top: 5%;
    width: 100%;
    justify-content: center;
}

.Mbtn{
    height: 50px;
    font-size: 30px;
    border: none;
    border-radius: 10%;
    background: #4c915d;
    
}
.Ibtn{
    margin-top: 5%;
    width: 100%;
    height: 50px;
    border: none;
    /* border-radius: 10%; */
    background: #4c915d;
    align-items: flex-start;
}
.Ibtn:hover{
    box-shadow: 0 0 3px #000, 0 0 20px #789c7b;
}
.Mshadow{
    box-shadow: 0 0 3px #000000;
}
.Mbtn:hover{
    box-shadow: 0 0 3px #000, 0 0 20px #789c7b;
}
a{
    text-decoration: none;
    color: black;
}
.Nitem{
    font-size: 15px;
}
