<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dashboard | FDC</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../View/css/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css'>

</head>
<body>
    <div class="Nav">
        Bem-vindo
    </div>
    <div class="Mlateral">
        <div class="Mitens">
            <div class="Mlinha">
                <button onclick="" type="button" class="Mbtn Mshadow">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <div class="Mitem">
                <i class="fa-solid fa-file-invoice-dollar fa-2x"></i>
                    <a href="#"> <span class="Nitem">Contas a Pagar</span> </a>
                
            </div>
            <div class="Mitem">
                <i class="fa-solid fa-receipt fa-2x"></i> 
                    <a href="#"> <span class="Nitem">Contas a Receber</span></a>
                  
            </div>
            <div class="Mitem">
                <i class="fa-solid fa-user-plus fa-lg"></i> 
                    <a href="#"> <span class="Nitem">Cadastrar Cliente</span></a>
                        
            </div>
        </div>
    </div>
    
</body>
</html>