<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Fluxo De Caixa</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../View/css/style.css'>
    <!-- <script src='../View/js/jquery.js'></script> -->
</head>
<body>
    <form action="#" method="POST">
        <div class="Flogin">
            <div class="Flinha">
                <Label for="Login">Login</Label><input type="text" id="Login" class="Finput">
            </div>
            <div class="Flinha">
                <label for="Senha">Senha</label><input type="password" id="Senha" class="Finput">
            </div>
            <div class="Flinha">
                <button type="submit" class="Fbtn Fshadow">Entrar</button>
            </div>
        </div>
    </form>
</body>
</html>